<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Data</title>
</head>
<body>
<h1>User Data</h1>
<table border="1">
    <thead>
    <tr>
        <th>Order ID</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <!-- Iterate over each user and display its data -->
    <tr th:each="user : ${userList}">
        <td th:text="${user.orderId}"></td>
        <td th:text="${user.date}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
